[package]
name = "updog"
version = "0.1.0"
authors = ["iliana destroyer of worlds <iweller@amazon.com>"]
license = "Apache-2.0 OR MIT"
edition = "2018"
publish = false
# Don't rebuild crate just because of changes to README.
exclude = ["README.md"]

[dependencies]
bottlerocket-release = { path = "../../bottlerocket-release", version = "0.1" }
chrono = { version = "0.4", default-features = false, features = ["std", "clock"] }
log = "0.4"
lz4 = "1"
rand = "0.8"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "rustls-tls-native-roots"] }
semver = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_plain = "1"
signpost = { path = "../signpost", version = "0.1" }
simplelog = "0.12"
snafu = "0.7"
toml = "0.5"
tough = { version = "0.12", features = ["http"] }
update_metadata = { path = "../update_metadata", version = "0.1" }
structopt = "0.3"
url = "2"
signal-hook = "0.3"
models = { path = "../../models", version = "0.1" }

[dev-dependencies]
tempfile = "3"
