[package]
name = "coreutils"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

[package.metadata.build-package]
releases-url = "https://ftp.gnu.org/gnu/coreutils"

[[package.metadata.build-package.external-files]]
url = "https://ftp.gnu.org/gnu/coreutils/coreutils-9.1.tar.xz"
sha512 = "a6ee2c549140b189e8c1b35e119d4289ec27244ec0ed9da0ac55202f365a7e33778b1dc7c4e64d1669599ff81a8297fe4f5adbcc8a3a2f75c919a43cd4b9bdfa"

[build-dependencies]
glibc = { path = "../glibc" }
libacl = { path = "../libacl" }
libattr = { path = "../libattr" }
libcap = { path = "../libcap" }
libselinux = { path = "../libselinux" }
libxcrypt = { path = "../libxcrypt" }
