[package]
name = "coreutils"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[lib]
path = "../packages.rs"

[package.metadata.build-package]
releases-url = "https://ftp.gnu.org/gnu/coreutils"

[[package.metadata.build-package.external-files]]
url = "https://ftp.gnu.org/gnu/coreutils/coreutils-9.5.tar.xz"
sha512 = "2ca0deac4dc10a80fd0c6fd131252e99d457fd03b7bd626a6bc74fe5a0529c0a3d48ce1f5da1d3b3a7a150a1ce44f0fbb6b68a6ac543dfd5baa3e71f5d65401c"

[build-dependencies]
glibc = { path = "../glibc" }
libacl = { path = "../libacl" }
libattr = { path = "../libattr" }
libcap = { path = "../libcap" }
libselinux = { path = "../libselinux" }
libxcrypt = { path = "../libxcrypt" }
