[package]
name = "thar-be-settings"
version = "0.1.0"
authors = ["Zac Mrowicki <mrowicki@amazon.com>"]
license = "Apache-2.0 OR MIT"
edition = "2018"
publish = false
build = "build.rs"

[dependencies]
apiclient = { path = "../apiclient" }
handlebars = "3.0"
http = "0.1"
itertools = "0.8"
log = "0.4"
models = { path = "../../models" }
schnauzer = { path = "../schnauzer" }
serde_json = "1"
simplelog = "0.7"
snafu = "0.6"

[build-dependencies]
cargo-readme = "3.1"

[dev-dependencies]
maplit = "1.0"
