[package]
name = "aws-ecs-2-nvidia"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[package.metadata.build-variant.image-features]
grub-set-private-var = true
unified-cgroup-hierarchy = true
uefi-secure-boot = true
xfs-data-partition = true
systemd-networkd = true

[package.metadata.build-variant.image-layout]
os-image-size-gib = 4

[package.metadata.build-variant]
included-packages = [
# core
    "release",
    "kernel-6.1",
# docker
    "docker-cli",
    "docker-engine",
    "docker-init",
    "docker-proxy",
# ecs
    "ecs-agent",
# NVIDIA support
    "ecs-gpu-init",
    "nvidia-container-toolkit",
    "kmod-6.1-nvidia-tesla-535",
]

kernel-parameters = [
    "console=tty0",
    "console=ttyS0,115200n8",
    "net.ifnames=0",
    "netdog.default-interface=eth0:dhcp4,dhcp6?",
    "quiet",
]

[lib]
path = "../variants.rs"

[build-dependencies]
# core
release = { path = "../../packages/release" }
kernel-6_1 = { path = "../../packages/kernel-6.1" }
# docker
docker-cli = { path = "../../packages/docker-cli" }
docker-engine = { path = "../../packages/docker-engine" }
docker-init = { path = "../../packages/docker-init" }
docker-proxy = { path = "../../packages/docker-proxy" }
# ecs
ecs-agent = { path = "../../packages/ecs-agent" }
# NVIDIA
ecs-gpu-init = { path = "../../packages/ecs-gpu-init" }
nvidia-container-toolkit = { path = "../../packages/nvidia-container-toolkit" }
kmod-6_1-nvidia = { path = "../../packages/kmod-6.1-nvidia" }
