[package]
name = "aws-ecs-2-nvidia"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[package.metadata.build-variant.image-features]
grub-set-private-var = true
unified-cgroup-hierarchy = true
uefi-secure-boot = true
xfs-data-partition = true
systemd-networkd = true

[package.metadata.build-variant.image-layout]
os-image-size-gib = 4

[package.metadata.build-variant]
included-packages = [
# core
    "early-boot-config",
    "release",
    "kernel-6.1",
    "aws-data-providers",
# docker
    "docker-cli",
    "docker-engine",
    "docker-init",
# ecs
    "ecs-agent-nvidia-config",
# NVIDIA support
    "ecs-gpu-init",
    "nvidia-container-toolkit-ecs",
    "kmod-6.1-nvidia-tesla-535",
]

kernel-parameters = [
    "console=tty0",
    "console=ttyS0,115200n8",
    "net.ifnames=0",
    "netdog.default-interface=eth0:dhcp4,dhcp6?",
    "quiet",
]

[lib]
path = "../variants.rs"

[build-dependencies]
# core
early-boot-config = { path = "../../packages/early-boot-config" }
early-boot-config-ec2-identity-doc = { path = "../../packages/early-boot-config-ec2-identity-doc" }
early-boot-config-ec2-imds = { path = "../../packages/early-boot-config-ec2-imds" }
early-boot-config-local-defaults = { path = "../../packages/early-boot-config-local-defaults" }
early-boot-config-local-overrides = { path = "../../packages/early-boot-config-local-overrides" }
early-boot-config-local = { path = "../../packages/early-boot-config-local" }
early-boot-config-providers = { path = "../../packages/early-boot-config-providers" }
release = { path = "../../packages/release" }
kernel-6_1 = { path = "../../packages/kernel-6.1" }
# docker
docker-cli = { path = "../../packages/docker-cli" }
docker-engine = { path = "../../packages/docker-engine" }
docker-init = { path = "../../packages/docker-init" }
# ecs
ecs-agent = { path = "../../packages/ecs-agent" }
# NVIDIA
ecs-gpu-init = { path = "../../packages/ecs-gpu-init" }
nvidia-container-toolkit = { path = "../../packages/nvidia-container-toolkit" }
kmod-6_1-nvidia = { path = "../../packages/kmod-6.1-nvidia" }
