[package]
name = "models"
version = "0.1.0"
authors = ["Tom Kirchner <tjk@amazon.com>"]
license = "Apache-2.0 OR MIT"
edition = "2021"
publish = false
build = "build.rs"
# Don't rebuild crate just because of changes to README.
exclude = ["README.md"]

[dependencies]
base64 = "0.13"
bottlerocket-release = { path = "../bottlerocket-release", version = "0.1" }
indexmap = { version = "1", features = ["serde"] }
lazy_static = "1"
libc = "0.2"
model-derive = { path = "model-derive", version = "0.1" }
regex = "1"
scalar = { path = "scalar", version = "0.1" }
scalar-derive = { path = "scalar-derive", version = "0.1" }
semver = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_plain = "1"
snafu = "0.7"
string_impls_for = { path = "./string_impls_for", version = "0.1" }
toml = "0.5"
x509-parser = "0.15"
url = "2"

# settings extensions
settings-extension-motd = { path = "../settings-extensions/motd", version = "0.1" }

[build-dependencies]
bottlerocket-variant = { version = "0.1", path = "../bottlerocket-variant" }
generate-readme = { version = "0.1", path = "../generate-readme" }
filetime = "0.2"
rand = "0.8"

[dev-dependencies]
serde_json = "1"

[lib]
# We're picking the current *model* with build.rs, so users shouldn't think
# about importing *models* (plural), just the one current model.
name = "model"
path = "src/lib.rs"
