[package]
name = "libcap"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

[package.metadata.build-package]
releases-url = "https://cdn.kernel.org/pub/linux/libs/security/linux-privs/libcap2/"
# Changelog can be found here: https://sites.google.com/site/fullycapable/release-notes-for-libcap

[[package.metadata.build-package.external-files]]
url = "https://cdn.kernel.org/pub/linux/libs/security/linux-privs/libcap2/libcap-2.66.tar.gz"
sha512 = "89db090e9756dfb09c49b11dcf43e9372f46708e92f1183f7b0a07962d41ff65cb175c5e656637a6a8a13c92930d3ed132de0cc4ba8b82e6c7644da00681a563"

[build-dependencies]
glibc = { path = "../glibc" }
libattr = { path = "../libattr" }
