[workspace]
resolver = "1"
members = [
    "api/apiserver",
    "api/apiclient",
    "api/bootstrap-containers",
    "api/bork",
    "api/certdog",
    "api/corndog",
    "api/datastore",
    "api/sundog",
    "api/schnauzer",
    "api/pluto",
    "api/host-containers",
    "api/storewolf",
    "api/thar-be-settings",
    "api/thar-be-updates",
    "api/settings-committer",
    "api/migration/migrator",
    "api/migration/migration-helpers",
    "api/shibaken",
    "api/prairiedog",
    "api/simple-settings-plugin",

    # "api/migration/migrations/vX.Y.Z/..."
    # (all previous migrations archived; add new ones after this line)
    "api/migration/migrations/v1.21.0/pluto-remove-generators-v0-1-0",
    "api/migration/migrations/v1.21.0/pod-infra-container-image-affected-services",
    "api/migration/migrations/v1.21.0/pod-infra-container-image-remove-settings-generator",
    "api/migration/migrations/v1.21.0/pod-infra-container-image-services",

    "bloodhound",

    "bottlerocket-release",

    "bottlerocket-variant",

    "imdsclient",

    "dogtag",

    "driverdog",

    "early-boot-config/early-boot-config",
    "early-boot-config/early-boot-config-provider",

    "early-boot-config/user-data-providers/ec2-identity-doc",
    "early-boot-config/user-data-providers/ec2-imds",
    "early-boot-config/user-data-providers/local-defaults",
    "early-boot-config/user-data-providers/local-file",
    "early-boot-config/user-data-providers/local-overrides",
    "early-boot-config/user-data-providers/vmware-cd-rom",
    "early-boot-config/user-data-providers/vmware-guestinfo",

    "generate-readme",

    "ghostdog",

    "metricdog",

    "netdog",

    "cfsignal",

    "logdog",

    "models",

    "settings-defaults/aws-dev",
    "settings-defaults/aws-ecs-1",
    "settings-defaults/aws-ecs-1-nvidia",
    "settings-defaults/aws-ecs-2",
    "settings-defaults/aws-ecs-2-nvidia",
    "settings-defaults/aws-k8s-1.24",
    "settings-defaults/aws-k8s-1.24-nvidia",
    "settings-defaults/aws-k8s-1.25",
    "settings-defaults/aws-k8s-1.25-nvidia",
    "settings-defaults/aws-k8s-1.26",
    "settings-defaults/aws-k8s-1.26-nvidia",
    "settings-defaults/aws-k8s-1.30",
    "settings-defaults/aws-k8s-1.30-nvidia",
    "settings-defaults/metal-dev",
    "settings-defaults/metal-k8s-1.30",

    "settings-extensions/autoscaling",
    "settings-extensions/aws",
    "settings-extensions/bootstrap-containers",
    "settings-extensions/cloudformation",
    "settings-extensions/container-registry",
    "settings-extensions/container-runtime",
    "settings-extensions/dns",
    "settings-extensions/ecs",
    "settings-extensions/host-containers",
    "settings-extensions/kernel",
    "settings-extensions/metrics",
    "settings-extensions/motd",
    "settings-extensions/network",
    "settings-extensions/ntp",
    "settings-extensions/oci-defaults",
    "settings-extensions/oci-hooks",
    "settings-extensions/pki",
    "settings-extensions/updates",

    "settings-plugins/aws-dev",
    "settings-plugins/aws-ecs-1",
    "settings-plugins/aws-ecs-2",
    "settings-plugins/aws-k8s",
    "settings-plugins/metal-dev",
    "settings-plugins/metal-k8s",
    "settings-plugins/vmware-dev",
    "settings-plugins/vmware-k8s",

    "static-pods",

    "parse-datetime",

    "retry-read",

    "updater/block-party",
    "updater/signpost",
    "updater/update_metadata",
    "updater/updog",

    "constants",

    "shimpei",

    "xfscli",
]

[profile.release]
debug = true
