[workspace]
members = [
    "api/apiserver",
    "api/apiclient",
    "api/bootstrap-containers",
    "api/bork",
    "api/certdog",
    "api/corndog",
    "api/datastore",
    "api/early-boot-config",
    "api/ecs-settings-applier",
    "api/netdog",
    "api/sundog",
    "api/schnauzer",
    "api/pluto",
    "api/servicedog",
    "api/host-containers",
    "api/static-pods",
    "api/storewolf",
    "api/thar-be-settings",
    "api/thar-be-updates",
    "api/settings-committer",
    "api/migration/migrator",
    "api/migration/migration-helpers",
    "api/shibaken",
    "api/prairiedog",

    # "api/migration/migrations/vX.Y.Z/..."
    "api/migration/migrations/v1.3.0/etc-hosts-service",
    "api/migration/migrations/v1.3.0/hostname-affects-etc-hosts",
    "api/migration/migrations/v1.3.0/control-container-v0-5-2",
    "api/migration/migrations/v1.4.0/registry-mirror-representation",
    "api/migration/migrations/v1.4.2/admin-container-v0-7-3",
    "api/migration/migrations/v1.4.2/control-container-v0-5-3",
    "api/migration/migrations/v1.5.0/oci-hooks-setting",
    "api/migration/migrations/v1.5.0/oci-hooks-setting-metadata",
    "api/migration/migrations/v1.5.1/control-container-v0-5-4",
    "api/migration/migrations/v1.5.3/vmware-host-containers",
    "api/migration/migrations/v1.6.0/node-taints-representation",
    "api/migration/migrations/v1.6.0/aws-admin-container-v0-7-4",
    "api/migration/migrations/v1.6.0/aws-control-container-v0-5-5",
    "api/migration/migrations/v1.6.0/public-admin-container-v0-7-4",
    "api/migration/migrations/v1.6.0/public-control-container-v0-5-5",
    "api/migration/migrations/v1.6.2/add-cfsignal",
    "api/migration/migrations/v1.6.2/container-registry-credentials",
    "api/migration/migrations/v1.6.2/container-registry-credentials-metadata",
    "api/migration/migrations/v1.7.0/aws-admin-container-v0-8-0",
    "api/migration/migrations/v1.7.0/aws-control-container-v0-6-0",
    "api/migration/migrations/v1.7.0/public-admin-container-v0-8-0",
    "api/migration/migrations/v1.7.0/public-control-container-v0-6-0",
    "api/migration/migrations/v1.8.0/boot-setting",
    "api/migration/migrations/v1.8.0/boot-setting-metadata",
    "api/migration/migrations/v1.8.0/kubelet-pod-pids-limit",

    "bottlerocket-release",

    "imdsclient",

    "driverdog",

    "ghostdog",

    "growpart",

    "metricdog",

    "cfsignal",

    "logdog",

    "models",

    "parse-datetime",

    "retry-read",

    "updater/block-party",
    "updater/signpost",
    "updater/update_metadata",
    "updater/updog",

    "webpki-roots-shim",

    "constants",

    "shimpei"
]

[profile.release]
debug = true

# This replaces webpki-roots with a shim that reads from the ca-certificates package. See
# webpki-roots-shim/Cargo.toml for more information about using the right version number.
[patch.crates-io.webpki-roots]
path = "webpki-roots-shim"
