[workspace]
resolver = "1"
members = [
    "api/apiserver",
    "api/apiclient",
    "api/bootstrap-containers",
    "api/bork",
    "api/certdog",
    "api/corndog",
    "api/datastore",
    "api/early-boot-config",
    "api/ecs-settings-applier",
    "api/netdog",
    "api/sundog",
    "api/schnauzer",
    "api/pluto",
    "api/host-containers",
    "api/static-pods",
    "api/storewolf",
    "api/thar-be-settings",
    "api/thar-be-updates",
    "api/settings-committer",
    "api/migration/migrator",
    "api/migration/migration-helpers",
    "api/shibaken",
    "api/prairiedog",

    # "api/migration/migrations/vX.Y.Z/..."
    # (all previous migrations archived; add new ones after this line)
    "api/migration/migrations/v1.15.0/oci-defaults-resource-setting",
    "api/migration/migrations/v1.15.0/oci-defaults-max-open-files",
    "api/migration/migrations/v1.15.0/seccomp-default-setting",
    "api/migration/migrations/v1.15.0/oci-defaults-docker-setting",
    "api/migration/migrations/v1.15.0/oci-defaults-docker-setting-metadata",
    "api/migration/migrations/v1.15.0/aws-admin-container-v0-11-0",
    "api/migration/migrations/v1.15.0/public-admin-container-v0-11-0",
    "api/migration/migrations/v1.15.0/aws-control-container-v0-7-4",
    "api/migration/migrations/v1.15.0/public-control-container-v0-7-4",
    "api/migration/migrations/v1.15.0/deprecate-log4j-hotpatch-enabled",
    "api/migration/migrations/v1.15.0/log4j-hotpatch-enabled-metadata",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-configs",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-files",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-restart",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-settings",
    "api/migration/migrations/v1.16.0/aws-admin-container-v0-11-1",
    "api/migration/migrations/v1.16.0/public-admin-container-v0-11-1",
    "api/migration/migrations/v1.16.0/aws-control-container-v0-7-5",
    "api/migration/migrations/v1.16.0/public-control-container-v0-7-5",
    "api/migration/migrations/v1.16.0/schnauzer-v2-generators",
    "api/migration/migrations/v1.16.1/updog-network-affected",
    "api/migration/migrations/v1.17.0/aws-admin-container-v0-11-2",
    "api/migration/migrations/v1.17.0/public-admin-container-v0-11-2",
    "api/migration/migrations/v1.17.0/aws-control-container-v0-7-6",
    "api/migration/migrations/v1.17.0/public-control-container-v0-7-6",

    "bloodhound",

    "bottlerocket-release",

    "bottlerocket-variant",

    "imdsclient",

    "driverdog",

    "generate-readme",

    "ghostdog",

    "metricdog",

    "cfsignal",

    "logdog",

    "models",

    "settings-extensions/motd",
    "settings-extensions/ntp",
    "settings-extensions/container-registry",

    "parse-datetime",

    "retry-read",

    "updater/block-party",
    "updater/signpost",
    "updater/update_metadata",
    "updater/updog",

    "constants",

    "shimpei",

    "xfscli"
]

[profile.release]
debug = true
