[workspace]
resolver = "1"
members = [
    "api/apiserver",
    "api/apiclient",
    "api/bootstrap-containers",
    "api/bork",
    "api/certdog",
    "api/corndog",
    "api/datastore",
    "api/sundog",
    "api/schnauzer",
    "api/pluto",
    "api/host-containers",
    "api/storewolf",
    "api/thar-be-settings",
    "api/thar-be-updates",
    "api/settings-committer",
    "api/migration/migrator",
    "api/migration/migration-helpers",
    "api/shibaken",
    "api/prairiedog",

    # "api/migration/migrations/vX.Y.Z/..."
    # (all previous migrations archived; add new ones after this line)
    "api/migration/migrations/v1.15.0/oci-defaults-resource-setting",
    "api/migration/migrations/v1.15.0/oci-defaults-max-open-files",
    "api/migration/migrations/v1.15.0/seccomp-default-setting",
    "api/migration/migrations/v1.15.0/oci-defaults-docker-setting",
    "api/migration/migrations/v1.15.0/oci-defaults-docker-setting-metadata",
    "api/migration/migrations/v1.15.0/aws-admin-container-v0-11-0",
    "api/migration/migrations/v1.15.0/public-admin-container-v0-11-0",
    "api/migration/migrations/v1.15.0/aws-control-container-v0-7-4",
    "api/migration/migrations/v1.15.0/public-control-container-v0-7-4",
    "api/migration/migrations/v1.15.0/deprecate-log4j-hotpatch-enabled",
    "api/migration/migrations/v1.15.0/log4j-hotpatch-enabled-metadata",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-configs",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-files",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-restart",
    "api/migration/migrations/v1.16.0/kernel-modules-autoload-settings",
    "api/migration/migrations/v1.16.0/aws-admin-container-v0-11-1",
    "api/migration/migrations/v1.16.0/public-admin-container-v0-11-1",
    "api/migration/migrations/v1.16.0/aws-control-container-v0-7-5",
    "api/migration/migrations/v1.16.0/public-control-container-v0-7-5",
    "api/migration/migrations/v1.16.0/schnauzer-v2-generators",
    "api/migration/migrations/v1.16.1/updog-network-affected",
    "api/migration/migrations/v1.17.0/aws-admin-container-v0-11-2",
    "api/migration/migrations/v1.17.0/public-admin-container-v0-11-2",
    "api/migration/migrations/v1.17.0/aws-control-container-v0-7-6",
    "api/migration/migrations/v1.17.0/public-control-container-v0-7-6",
    "api/migration/migrations/v1.18.0/aws-admin-container-v0-11-3",
    "api/migration/migrations/v1.18.0/public-admin-container-v0-11-3",
    "api/migration/migrations/v1.18.0/aws-control-container-v0-7-7",
    "api/migration/migrations/v1.18.0/public-control-container-v0-7-7",
    "api/migration/migrations/v1.19.0/add-additional-ecs-settings",
    "api/migration/migrations/v1.19.1/aws-admin-container-v0-11-4",
    "api/migration/migrations/v1.19.1/public-admin-container-v0-11-4",
    "api/migration/migrations/v1.19.1/aws-control-container-v0-7-8",
    "api/migration/migrations/v1.19.1/public-control-container-v0-7-8",
    "api/migration/migrations/v1.19.2/certdog-config-file-v0-1-0",
    "api/migration/migrations/v1.19.2/certdog-service-cfg-v0-1-0",
    "api/migration/migrations/v1.19.2/add-ecs-enable-container-metadata",
    "api/migration/migrations/v1.19.3/aws-admin-container-v0-11-6",
    "api/migration/migrations/v1.19.3/public-admin-container-v0-11-6",
    "api/migration/migrations/v1.19.3/aws-control-container-v0-7-10",
    "api/migration/migrations/v1.19.3/public-control-container-v0-7-10",
    "api/migration/migrations/v1.19.5/aws-control-container-v0-7-11",
    "api/migration/migrations/v1.19.5/public-control-container-v0-7-11",
    "api/migration/migrations/v1.19.5/aws-admin-container-v0-11-7",
    "api/migration/migrations/v1.19.5/public-admin-container-v0-11-7",
    "api/migration/migrations/v1.20.0/prairiedog-config-file-v0-1-0",
    "api/migration/migrations/v1.20.0/prairiedog-services-cfg-v0-1-0",
    "api/migration/migrations/v1.20.0/thar-be-updates-config-file-v0-1-0",
    "api/migration/migrations/v1.20.0/thar-be-updates-affected-services-v0-1-0",
    "api/migration/migrations/v1.20.0/host-containers-config-file-v0-1-0",
    "api/migration/migrations/v1.20.0/host-containers-config-list-v0-1-0",
    "api/migration/migrations/v1.20.0/corndog-config-file-v0-1-0",
    "api/migration/migrations/v1.20.0/corndog-services-cfg-v0-1-0",
    "api/migration/migrations/v1.20.0/bootstrap-containers-config-file-v0-1-0",
    "api/migration/migrations/v1.20.0/bootstrap-containers-services-cfg-v0-1-0",
    "api/migration/migrations/v1.20.0/remove-ecs-settings-applier",
    "api/migration/migrations/v1.20.0/update-ecs-config-path",
    "api/migration/migrations/v1.20.0/update-ecs-config-template-path",
    "api/migration/migrations/v1.20.0/add-ntp-default-options-v0-1-0",
    "api/migration/migrations/v1.20.0/static-pods-add-prefix-v0-1-0",
    "api/migration/migrations/v1.20.0/static-pods-services-cfg-v0-1-0",
    "api/migration/migrations/v1.20.0/container-runtime-nvidia",
    "api/migration/migrations/v1.20.0/container-runtime-metadata-nvidia",
    "api/migration/migrations/v1.20.0/aws-admin-container-v0-11-8",
    "api/migration/migrations/v1.20.0/public-admin-container-v0-11-8",
    "api/migration/migrations/v1.20.0/aws-control-container-v0-7-12",
    "api/migration/migrations/v1.20.0/public-control-container-v0-7-12",
    "api/migration/migrations/v1.21.0/pluto-remove-generators-v0-1-0",
    "api/migration/migrations/v1.21.0/pod-infra-container-image-affected-services",
    "api/migration/migrations/v1.21.0/pod-infra-container-image-remove-settings-generator",
    "api/migration/migrations/v1.21.0/pod-infra-container-image-services",

    "bloodhound",

    "bottlerocket-release",

    "bottlerocket-variant",

    "imdsclient",

    "dogtag",

    "driverdog",

    "early-boot-config/early-boot-config",
    "early-boot-config/early-boot-config-provider",

    "early-boot-config/user-data-providers/ec2-identity-doc",
    "early-boot-config/user-data-providers/ec2-imds",
    "early-boot-config/user-data-providers/local-defaults",
    "early-boot-config/user-data-providers/local-file",
    "early-boot-config/user-data-providers/local-overrides",
    "early-boot-config/user-data-providers/vmware-cd-rom",
    "early-boot-config/user-data-providers/vmware-guestinfo",

    "generate-readme",

    "ghostdog",

    "metricdog",

    "netdog",

    "cfsignal",

    "logdog",

    "models",

    "settings-extensions/aws",
    "settings-extensions/cloudformation",
    "settings-extensions/container-registry",
    "settings-extensions/dns",
    "settings-extensions/ecs",
    "settings-extensions/kernel",
    "settings-extensions/metrics",
    "settings-extensions/motd",
    "settings-extensions/ntp",
    "settings-extensions/oci-hooks",
    "settings-extensions/pki",
    "settings-extensions/updates",

    "static-pods",

    "parse-datetime",

    "retry-read",

    "updater/block-party",
    "updater/signpost",
    "updater/update_metadata",
    "updater/updog",

    "constants",

    "shimpei",

    "xfscli",
]

[profile.release]
debug = true
