[workspace]
members = [
    "api/apiserver",
    "api/apiclient",
    "api/bork",
    "api/corndog",
    "api/datastore",
    "api/early-boot-config",
    "api/ecs-settings-applier",
    "api/netdog",
    "api/sundog",
    "api/schnauzer",
    "api/pluto",
    "api/servicedog",
    "api/host-containers",
    "api/static-pods",
    "api/storewolf",
    "api/thar-be-settings",
    "api/thar-be-updates",
    "api/settings-committer",
    "api/migration/migrator",
    "api/migration/migration-helpers",

    # "api/migration/migrations/vX.Y.Z/...
    "api/migration/migrations/v0.3.2/migrate-admin-container-v0-5-0",
    "api/migration/migrations/v0.4.1/add-version-lock-ignore-waves",
    "api/migration/migrations/v0.4.1/pivot-repo-2020-07-07",
    "api/migration/migrations/v0.5.0/migrate-admin-container-v0-5-2",
    "api/migration/migrations/v0.5.0/migrate-control-container-v0-4-1",
    "api/migration/migrations/v0.5.0/add-cluster-domain",
    "api/migration/migrations/v1.0.0/ecr-helper-admin",
    "api/migration/migrations/v1.0.0/ecr-helper-control",
    "api/migration/migrations/v1.0.2/add-enable-spot-instance-draining",
    "api/migration/migrations/v1.0.3/add-sysctl",
    "api/migration/migrations/v1.0.5/add-lockdown",
    "api/migration/migrations/v1.0.5/sysctl-subcommand",
    "api/migration/migrations/v1.0.5/add-user-data",
    "api/migration/migrations/v1.0.5/add-network-settings",
    "api/migration/migrations/v1.0.5/add-proxy-restart",
    "api/migration/migrations/v1.0.5/add-proxy-services",
    "api/migration/migrations/v1.0.6/metricdog-init",
    "api/migration/migrations/v1.0.6/add-static-pods",

    "bottlerocket-release",

    "ghostdog",

    "growpart",

    "metricdog",

    "logdog",

    "models",

    "parse-datetime",

    "updater/block-party",
    "updater/signpost",
    "updater/update_metadata",
    "updater/updog",

    "webpki-roots-shim",
]

[profile.release]
debug = true

# This replaces webpki-roots with a shim that reads from the ca-certificates package
[patch.crates-io.webpki-roots]
path = "webpki-roots-shim"
