[package]
name = "kernel-5_15"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[package.metadata.build-package]
variant-sensitive = "platform"
package-name = "kernel-5.15"

[lib]
path = "pkg.rs"

[[package.metadata.build-package.external-files]]
# Use latest-srpm-url.sh to get this.
url = "https://cdn.amazonlinux.com/blobstore/47fc1797c6cf0a9ee2cb4c2ccba9c73a47c0ff75bdb22bf19e939083029881dc/kernel-5.15.54-25.126.amzn2.src.rpm"
sha512 = "5c08b5cd682adccd1bb9e2a418ae5bbb24ddcdc53e6ae46ea9760415989a25e02066db9e1aa6240455523189fb319f3aa0cb5b1f9ae8b5bccda8f4c46f2cb7a8"

[build-dependencies]
microcode = { path = "../microcode" }
