[Match]
Name=bond2
[Link]
RequiredForOnline=true
[Network]
ConfigureWithoutCarrier=true
DHCP=ipv6
[DHCPv6]
UseDNS=true
UseDomains=true
[IPv6AcceptRA]
UseMTU=true
