[Match]
Name=bond1
[Link]
RequiredForOnline=true
[Network]
ConfigureWithoutCarrier=true
DHCP=ipv4
KeepConfiguration=dhcp
BindCarrier=eno53
BindCarrier=eno54
[DHCPv4]
UseMTU=true
