[Match]
Name=bond2
[Link]
RequiredForOnline=true
[Network]
ConfigureWithoutCarrier=true
DHCP=ipv6
KeepConfiguration=dhcp
BindCarrier=eno55
BindCarrier=eno56
BindCarrier=eno57
[IPv6AcceptRA]
UseMTU=true
