[Match]
Name=eno1
[Link]
RequiredForOnline=true
[Network]
DHCP=ipv4
IPv6AcceptRA=true
[DHCPv4]
UseDNS=true
UseDomains=true
UseMTU=true
[DHCPv6]
WithoutRA=solicit
