[Match]
Name=eno2
[Link]
RequiredForOnline=true
[Network]
DHCP=ipv6
IPv6AcceptRA=true
KeepConfiguration=dhcp
[DHCPv6]
WithoutRA=solicit
[IPv6AcceptRA]
UseMTU=true
