[Match]
Name=eno5
[Link]
RequiredForOnline=true
RequiredFamilyForOnline=both
[Network]
DHCP=yes
IPv6AcceptRA=true
[DHCPv4]
UseDNS=true
UseDomains=true
[DHCPv6]
UseDNS=true
UseDomains=true
WithoutRA=solicit
