[Match]
Name=eno6
[Link]
RequiredForOnline=true
RequiredFamilyForOnline=ipv4
[Network]
DHCP=ipv4
KeepConfiguration=dhcp
[DHCPv4]
RouteMetric=100
UseMTU=true
