[Match]
Name=eno7
[Link]
RequiredForOnline=true
RequiredFamilyForOnline=ipv4
[Network]
DHCP=yes
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
[IPv6AcceptRA]
UseMTU=true
