[Match]
Name=eno9
[Link]
RequiredForOnline=false
[Network]
DHCP=ipv4
IPv6AcceptRA=true
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
[DHCPv6]
WithoutRA=solicit
