[package]
name = "nvidia-k8s-device-plugin"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[lib]
path = "/dev/null"

[package.metadata.build-package]
releases-url = "https://github.com/NVIDIA/k8s-device-plugin/releases"

[[package.metadata.build-package.external-files]]
url = "https://github.com/NVIDIA/k8s-device-plugin/archive/v0.14.0/v0.14.0.tar.gz"
path = "k8s-device-plugin-0.14.0.tar.gz"
sha512 = "25fc1e5a6c772d30c916229376adc8f8af98877f5741d8f5841fafbf20dfa479e7f69c2da01c02ff47acef1b7e899b9b0cc8cb6e0c49d76c8750628574d302d5"

[build-dependencies]
glibc = { path = "../glibc" }
