[package]
name = "libelf"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

[package.metadata.build-package]
releases-url = "https://sourceware.org/elfutils/ftp/"

[[package.metadata.build-package.external-files]]
url = "https://sourceware.org/elfutils/ftp/0.186/elfutils-0.186.tar.bz2"
sha512 = "c9180b27ec62935f18b9431268d176f6023d1bb938731d2af6e7626ae460af6608a70ba68483aa1ec7e6cb0fa0528b661ca8b68bc4f58ea8e18af527c5950c78"

[build-dependencies]
glibc = { path = "../glibc" }
libz = { path = "../libz" }
