[package]
name = "migrator"
version = "0.1.0"
authors = ["Tom Kirchner <tjk@amazon.com>"]
license = "Apache-2.0 OR MIT"
edition = "2018"
publish = false
build = "build.rs"

[dependencies]
bottlerocket-release = { path = "../../../bottlerocket-release" }
lazy_static = "1.2"
log = "0.4"
nix = "0.17"
rand = { version = "0.7", default-features = false, features = ["std"] }
regex = "1.1"
semver = "0.9"
simplelog = "0.7"
snafu = "0.6"
update_metadata = { path = "../../../updater/update_metadata" }

[build-dependencies]
cargo-readme = "3.1"

[[bin]]
name = "migrator"
path = "src/main.rs"
