[package]
name = "migrator"
version = "0.1.0"
authors = ["Tom Kirchner <tjk@amazon.com>"]
license = "Apache-2.0 OR MIT"
edition = "2021"
publish = false
build = "build.rs"
# Don't rebuild crate just because of changes to README.
exclude = ["README.md"]

[dependencies]
bottlerocket-release = { path = "../../../bottlerocket-release", version = "0.1" }
log = "0.4"
lz4 = "1"
nix = "0.26"
pentacle = "1"
rand = { version = "0.8", default-features = false, features = ["std", "std_rng"] }
semver = "1"
simplelog = "0.12"
snafu = "0.7"
tough = "0.14"
update_metadata = { path = "../../../updater/update_metadata", version = "0.1" }
url = "2"

[build-dependencies]
generate-readme = { version = "0.1", path = "../../../generate-readme" }

[dev-dependencies]
chrono = { version = "0.4", default-features = false, features = ["std", "clock"] }
storewolf = { path = "../../storewolf", version = "0.1" }
tempfile = "3"

[[bin]]
name = "migrator"
path = "src/main.rs"
