[package]
name = "chrony"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

[package.metadata.build-package]
releases-url = "https://download.tuxfamily.org/chrony"

[[package.metadata.build-package.external-files]]
url = "https://download.tuxfamily.org/chrony/chrony-4.3.tar.gz"
sha512 = "1394bac3ed684352fe89b7fef7da50e61f9f522abee807627ae1fc4c2dde891017bc8e5b13759fced028f3a1e875d5e4e5a4f85de65c63b5f83d0ca03bb4c5df"

[build-dependencies]
glibc = { path = "../glibc" }
libcap = { path = "../libcap" }
libseccomp = { path = "../libseccomp" }
ncurses = { path = "../ncurses" }
readline = { path = "../readline" }
