[package]
name = "login"
version = "0.0.1"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

# RPM BuildRequires
[build-dependencies]
glibc = { path = "../glibc" }

# RPM Requires
[dependencies]
bash = { path = "../bash" }
systemd = { path = "../systemd" }
