[package]
name = "libsemanage"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[lib]
path = "../packages.rs"

[package.metadata.build-package]
releases-url = "https://github.com/SELinuxProject/selinux/releases/"

[[package.metadata.build-package.external-files]]
url = "https://github.com/SELinuxProject/selinux/releases/download/3.6/libsemanage-3.6.tar.gz"
sha512 = "8998b6a1b254a9673b99ae4d70a1edc769bb728a44f573cdf62e0a9c9392b77644ee2d70e1936a2f8a9a7f8b063ce98a981f4b8b7060f5b82791889330d69364"

[build-dependencies]
glibc = { path = "../glibc" }
libaudit = { path = "../libaudit" }
libselinux = { path = "../libselinux" }
libsepol = { path = "../libsepol" }
