[package]
name = "libz"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

[package.metadata.build-package]
releases-url = "https://www.zlib.net"

[[package.metadata.build-package.external-files]]
url = "https://www.zlib.net/zlib-1.2.13.tar.xz"
sha512 = "9e7ac71a1824855ae526506883e439456b74ac0b811d54e94f6908249ba8719bec4c8d7672903c5280658b26cb6b5e93ecaaafe5cdc2980c760fa196773f0725"

[build-dependencies]
glibc = { path = "../glibc" }
