[package]
name = "libz"
version = "0.1.0"
edition = "2021"
publish = false
build = "../build.rs"

[lib]
path = "../packages.rs"

[package.metadata.build-package]
releases-url = "https://www.zlib.net"

[[package.metadata.build-package.external-files]]
url = "https://www.zlib.net/zlib-1.3.1.tar.xz"
sha512 = "1e8e70b362d64a233591906a1f50b59001db04ca14aaffad522198b04680be501736e7d536b4191e2f99767e7001ca486cd802362cca2be05d5d409b83ea732d"

[build-dependencies]
glibc = { path = "../glibc" }
