[Match]
Name=bond0
[Link]
RequiredForOnline=true
[Network]
ConfigureWithoutCarrier=true
DHCP=ipv4
KeepConfiguration=dhcp
BindCarrier=eno51
BindCarrier=eno52
[DHCPv4]
UseMTU=true
