[Match]
Name=eno18
[Link]
RequiredForOnline=true
[Network]
Address=10.0.0.10/24
Address=11.0.0.11/24
DHCP=ipv4
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
