[Match]
Name=eno19
[Link]
RequiredForOnline=true
[Network]
Address=3001:f00f:f00f::2/64
Address=3001:f00f:f00f::3/64
DHCP=ipv6
KeepConfiguration=dhcp
[IPv6AcceptRA]
UseMTU=true
