[Match]
Name=eno5
[Link]
RequiredForOnline=true
RequiredFamilyForOnline=both
[Network]
DHCP=yes
IPv6AcceptRA=true
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
[DHCPv6]
WithoutRA=solicit
[IPv6AcceptRA]
UseMTU=true
