[Match]
Name=eno5
[Link]
RequiredForOnline=true
RequiredFamilyForOnline=both
[Network]
DHCP=yes
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
[IPv6AcceptRA]
UseMTU=true
