[Match]
Name=eno8
[Link]
RequiredForOnline=false
[Network]
DHCP=yes
IPv6AcceptRA=true
KeepConfiguration=dhcp
[DHCPv4]
UseMTU=true
[DHCPv6]
WithoutRA=solicit
[IPv6AcceptRA]
UseMTU=true
