[package]
name = "libnftnl"
version = "0.1.0"
edition = "2018"
publish = false
build = "build.rs"

[lib]
path = "pkg.rs"

[package.metadata.build-package]
releases-url = "https://netfilter.org/projects/libnftnl/files"

[[package.metadata.build-package.external-files]]
url = "https://netfilter.org/projects/libnftnl/files/libnftnl-1.2.4.tar.bz2"
sha512 = "5375d1d15627aabf25129433630395f53009b22a255fcd113b302af7f2f0a234fd54c827b0ef1c8fd3a13e272a1696f780560672d4af6abad0e19805f9d56326"

[build-dependencies]
glibc = { path = "../glibc" }
libmnl = { path = "../libmnl" }
